* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.row > * {
  grid-column-end: span 12;
}

.row-no-gutters {
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}

.row-dense {
  grid-auto-flow: row dense;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 0) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .col-xs-1 {
    grid-column-end: span 1 !important;
  }
  .col-xs-start-1 {
    grid-column-start: 1 !important;
  }
  .col-xs-2 {
    grid-column-end: span 2 !important;
  }
  .col-xs-start-2 {
    grid-column-start: 2 !important;
  }
  .col-xs-3 {
    grid-column-end: span 3 !important;
  }
  .col-xs-start-3 {
    grid-column-start: 3 !important;
  }
  .col-xs-4 {
    grid-column-end: span 4 !important;
  }
  .col-xs-start-4 {
    grid-column-start: 4 !important;
  }
  .col-xs-5 {
    grid-column-end: span 5 !important;
  }
  .col-xs-start-5 {
    grid-column-start: 5 !important;
  }
  .col-xs-6 {
    grid-column-end: span 6 !important;
  }
  .col-xs-start-6 {
    grid-column-start: 6 !important;
  }
  .col-xs-7 {
    grid-column-end: span 7 !important;
  }
  .col-xs-start-7 {
    grid-column-start: 7 !important;
  }
  .col-xs-8 {
    grid-column-end: span 8 !important;
  }
  .col-xs-start-8 {
    grid-column-start: 8 !important;
  }
  .col-xs-9 {
    grid-column-end: span 9 !important;
  }
  .col-xs-start-9 {
    grid-column-start: 9 !important;
  }
  .col-xs-10 {
    grid-column-end: span 10 !important;
  }
  .col-xs-start-10 {
    grid-column-start: 10 !important;
  }
  .col-xs-11 {
    grid-column-end: span 11 !important;
  }
  .col-xs-start-11 {
    grid-column-start: 11 !important;
  }
  .col-xs-12 {
    grid-column-end: span 12 !important;
  }
  .col-xs-start-12 {
    grid-column-start: 12 !important;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .col-sm-1 {
    grid-column-end: span 1 !important;
  }
  .col-sm-start-1 {
    grid-column-start: 1 !important;
  }
  .col-sm-2 {
    grid-column-end: span 2 !important;
  }
  .col-sm-start-2 {
    grid-column-start: 2 !important;
  }
  .col-sm-3 {
    grid-column-end: span 3 !important;
  }
  .col-sm-start-3 {
    grid-column-start: 3 !important;
  }
  .col-sm-4 {
    grid-column-end: span 4 !important;
  }
  .col-sm-start-4 {
    grid-column-start: 4 !important;
  }
  .col-sm-5 {
    grid-column-end: span 5 !important;
  }
  .col-sm-start-5 {
    grid-column-start: 5 !important;
  }
  .col-sm-6 {
    grid-column-end: span 6 !important;
  }
  .col-sm-start-6 {
    grid-column-start: 6 !important;
  }
  .col-sm-7 {
    grid-column-end: span 7 !important;
  }
  .col-sm-start-7 {
    grid-column-start: 7 !important;
  }
  .col-sm-8 {
    grid-column-end: span 8 !important;
  }
  .col-sm-start-8 {
    grid-column-start: 8 !important;
  }
  .col-sm-9 {
    grid-column-end: span 9 !important;
  }
  .col-sm-start-9 {
    grid-column-start: 9 !important;
  }
  .col-sm-10 {
    grid-column-end: span 10 !important;
  }
  .col-sm-start-10 {
    grid-column-start: 10 !important;
  }
  .col-sm-11 {
    grid-column-end: span 11 !important;
  }
  .col-sm-start-11 {
    grid-column-start: 11 !important;
  }
  .col-sm-12 {
    grid-column-end: span 12 !important;
  }
  .col-sm-start-12 {
    grid-column-start: 12 !important;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .col-md-1 {
    grid-column-end: span 1 !important;
  }
  .col-md-start-1 {
    grid-column-start: 1 !important;
  }
  .col-md-2 {
    grid-column-end: span 2 !important;
  }
  .col-md-start-2 {
    grid-column-start: 2 !important;
  }
  .col-md-3 {
    grid-column-end: span 3 !important;
  }
  .col-md-start-3 {
    grid-column-start: 3 !important;
  }
  .col-md-4 {
    grid-column-end: span 4 !important;
  }
  .col-md-start-4 {
    grid-column-start: 4 !important;
  }
  .col-md-5 {
    grid-column-end: span 5 !important;
  }
  .col-md-start-5 {
    grid-column-start: 5 !important;
  }
  .col-md-6 {
    grid-column-end: span 6 !important;
  }
  .col-md-start-6 {
    grid-column-start: 6 !important;
  }
  .col-md-7 {
    grid-column-end: span 7 !important;
  }
  .col-md-start-7 {
    grid-column-start: 7 !important;
  }
  .col-md-8 {
    grid-column-end: span 8 !important;
  }
  .col-md-start-8 {
    grid-column-start: 8 !important;
  }
  .col-md-9 {
    grid-column-end: span 9 !important;
  }
  .col-md-start-9 {
    grid-column-start: 9 !important;
  }
  .col-md-10 {
    grid-column-end: span 10 !important;
  }
  .col-md-start-10 {
    grid-column-start: 10 !important;
  }
  .col-md-11 {
    grid-column-end: span 11 !important;
  }
  .col-md-start-11 {
    grid-column-start: 11 !important;
  }
  .col-md-12 {
    grid-column-end: span 12 !important;
  }
  .col-md-start-12 {
    grid-column-start: 12 !important;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .col-lg-1 {
    grid-column-end: span 1 !important;
  }
  .col-lg-start-1 {
    grid-column-start: 1 !important;
  }
  .col-lg-2 {
    grid-column-end: span 2 !important;
  }
  .col-lg-start-2 {
    grid-column-start: 2 !important;
  }
  .col-lg-3 {
    grid-column-end: span 3 !important;
  }
  .col-lg-start-3 {
    grid-column-start: 3 !important;
  }
  .col-lg-4 {
    grid-column-end: span 4 !important;
  }
  .col-lg-start-4 {
    grid-column-start: 4 !important;
  }
  .col-lg-5 {
    grid-column-end: span 5 !important;
  }
  .col-lg-start-5 {
    grid-column-start: 5 !important;
  }
  .col-lg-6 {
    grid-column-end: span 6 !important;
  }
  .col-lg-start-6 {
    grid-column-start: 6 !important;
  }
  .col-lg-7 {
    grid-column-end: span 7 !important;
  }
  .col-lg-start-7 {
    grid-column-start: 7 !important;
  }
  .col-lg-8 {
    grid-column-end: span 8 !important;
  }
  .col-lg-start-8 {
    grid-column-start: 8 !important;
  }
  .col-lg-9 {
    grid-column-end: span 9 !important;
  }
  .col-lg-start-9 {
    grid-column-start: 9 !important;
  }
  .col-lg-10 {
    grid-column-end: span 10 !important;
  }
  .col-lg-start-10 {
    grid-column-start: 10 !important;
  }
  .col-lg-11 {
    grid-column-end: span 11 !important;
  }
  .col-lg-start-11 {
    grid-column-start: 11 !important;
  }
  .col-lg-12 {
    grid-column-end: span 12 !important;
  }
  .col-lg-start-12 {
    grid-column-start: 12 !important;
  }
}/*# sourceMappingURL=responsive-grid.css.map */